.oneline:hover {
    color: #fff;
    background-color: #233548;
    cursor: pointer;
}

.oneline9 {
    color: #777;
}

.oneline8 {
    color: #888;
}

.oneline7 {
    color: #999;
}

.oneline6 {
    color: #aaa;
}

.oneline5 {
    color: #bbb;
}

.oneline4 {
    color: #ccc;
}

.oneline3 {
    color: #ddd;
}

.oneline2 {
    color: #eee;
}

.oneline1 {
    color: #fff;
}

.oneline0 {
    color: #eee;
    font-weight: bold;
}

.commentSeparator {
    padding: 0 3px 0 3px;
    font-size: 11px;
    color: #666;
}

ul {
    background: url("./commentsul.gif") repeat-y 2px bottom;
    margin: 0 0 0 5px;
    list-style-type: none;
    padding: 0;
    position: static;

    li {
        background: url("./commentsbullet.gif") no-repeat 2px top;
        font-size: 13px;
        line-height: 16px;
        padding-left: 13px;

        &:last-child {
            background: #000 url("./commentsbulletlast.gif") no-repeat 2px top;
        }
    }
}
