.Thread {
    margin-bottom: 15px;
}

.postInformative {
    border-left: 2px solid #00bff3 !important;
}

.postNws {
    border-left: 2px solid red !important;
}

.postFrontpage {
    border-left: 2px solid mediumpurple !important;
}

.CommentsContainer {
    margin-top: 3px;
    margin-left: 10px;
    padding-bottom: 1px;
}


