.tagLegend {
    position: absolute;
    top: 18px;
    left: 50%;
    margin-left: 35px;
    padding: 5px;
    border: 1px solid #6cb0c0;
    color: white;
    margin-right: 10px;
}

.tagLegend td {
    padding: 0 10px 0 10px;
}

.tagLegend h4 {
    text-align: center;
    margin: 0;
}

.tagLegendClicky {
    cursor: pointer;
}

.tagLegendClicky:hover {
    text-decoration: underline;
}

.replybox {
    background-color: #141414;
    border: 1px solid #666;
    position: relative;
    padding: 3px 0 25px 0;
}

.replybox-op div {
    margin: -1px 1px 3px 1px;
}

.replybox-comment {
    margin: -3px 0 3px 0;
}

.replybox-input {
    position: relative;
    margin: 15px 5px 5px 17px;
    border: 1px solid white;
    color: white;
    width: 50%;
    max-width: 50%;
    min-height: 176px;
    background-color: black;
}

.replybox-actions {
    margin-left: 15px;
}

.replybox-actions button {
    padding-right: 15px;
}
